<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head >
    <title>Title</title>

</head>
<body>
<div class="container w-50 mt-5 mx-auto rounded-4">
    <div class="p-5 shadow">

        <form action="/order/edit" th:object="${order}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="mb-3">
                <label for="category" class="form-label">Loại sản phẩm (*)</label>
                <select  name="category" id="category" th:field="*{products.categories.id}">
                    <option th:each="c : ${categories}" th:text="${c.name}" th:value="${c.id}"></option>
                </select>
<!--                <div th:if="${#fields.hasErrors('category')}" th:errors="*{products.categories.id}" ></div>-->
            </div>



            <div class="mb-3">
                <label for="products" class="form-label">Sản phẩm</label>
                <select  name="product" id="products" th:field="*{products.id}">
                    <option th:each="p : ${products}" th:text="${p.name}" th:value="${p.id}"></option>
                </select>
<!--                <div th:if="${#fields.hasErrors('products')}" th:errors="*{products.id}" ></div>-->
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label" >Số lượng</label>
                <input type="text" class="form-control" id="quantity" th:field="*{quantity}">
<!--                                <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" ></div>-->
            </div>

            <div class="mb-3">
                <label for="buyDay" class="form-label" >Ngày mua</label>
                <input type="date" class="form-control" id="buyDay" th:field="*{buyDay}">
<!--                <div th:if="${#fields.hasErrors('buyDay')}" th:errors="*{buyDay}" ></div>-->
            </div>



            <button type="submit" class="btn btn-primary">Lưu</button>
            <a th:href="@{/order}" class="btn btn-primary" >Thoát</a>
        </form>
    </div>

</div>

</body>

</html>
