<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container">

    <h2>Thống kê đơn hàng</h2>
    <form action="/order/search" method="get">
        <label for="dayMin">Danh sách từ</label>
        <input type="date" name="dayMin" id="dayMin">
        <label for="dayMax">Đến</label>
        <input type="date" name="dayMax" id="dayMax">
        <button class="btn btn-primary">Xem</button>
    </form>

    <form action="/#" method="get" class="d-flex ">
        <select name="" id="" >
            <option value="1">1</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
        <div class="ms-3"> <p>Đơn hàng có tổng số tiền cao nhất</p></div>
        <button class="btn btn-primary ms-3">Xem top</button>
    </form>
    <span th:text="${message}"></span>


    <div>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Số thứ tự </th>
                <th>mã đơn hàng</th>
                <th>Tên sản phẩm</th>
                <th>Giá (USD)</th>
                <th>Loại sản phẩm</th>
                <th>Ngày mua</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
                <th>Actions</th>
            </tr>
            <tr th:each="o,status : ${orders}">
                <td th:text="${status.count}" ></td>
                <td th:text="${o.products.code}"></td>
                <td th:text="${o.products.name}"></td>
                <td th:text="${o.products.price}"></td>
                <td th:text="${o.products.categories.name}"></td>
                <td th:text="${o.buyDay}"></td>
                <td th:text="${o.quantity}"></td>
                <td th:text="${o.products.price*o.quantity}"></td>
                <td><a th:href="@{/order/edit/{id}(id=${o.id})}" >Sửa</a></td>
            </tr>
        </table>
    </div>
    <!--    <a class="btn btn-primary" th:if="${players.hasPrevious()}"-->
    <!--       th:href="@{/player(page=${players.number - 1},size=${size},name=${name},dobMin=${dobMin},dobMax=${dobMax})}">Previous</a>-->
    <!--    <span th:text="${players.number + 1}"></span> | <span th:text="${players.totalPages}"></span>-->
    <!--    <a class="btn btn-primary" th:if="${players.hasNext()}"-->
    <!--       th:href="@{/player(page=${players.number + 1},size=${size},name=${name},dobMin=${dobMin},dobMax=${dobMax})}">Next</a>-->


</div>


</body>
</html>